server/.env.dev
server/.env.prod
server/database.sqlite
server/uploads
server/.
*.log
test_*
# AGENTS.md
.DS_Store


nginx/ssl/*.pem
nginx/ssl/*.key
nginx/ssl/*.crt

web/node_modules
web/dist
web/.env.dev
web/.env.prod